<section class="container">
    <form ng-submit="submit()">
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
        </div>
        <button class="btn btn-success" type="submit">Login</button>  (Or)<a class="btn btn-link" href="#/signup">signup</a>
        <a href="" ng-click="doGoogleAuthWithPopup()">Login with Google</a>
    </form>
</section>