<section class="container room">
    <section class="row">
        <img class="col-xs-12 col-lg-12 col-sm-12 col-md-12" src="modules/rooms/imgs/rooms-header.png">
    </section>
    <section class="row margin-top-20">
        <article class="col-xs-12 col-lg-9 col-sm-12 col-md-9"></article>
        <aside class="col-xs-12 col-lg-3 col-sm-12 col-md-3">
            <filter></filter>
        </aside>
    </section>
</section>
<link href="modules/rooms/styles/css/show.css" type="text/css" rel="stylesheet"/>